* text=auto eol=lf

*.sh      text eol=lf
Dockerfile text eol=lf
*.yml     text eol=lf
*.json    text eol=lf
*.toml    text eol=lf
*.rs      text eol=lf
*.ts      text eol=lf
*.tsx     text eol=lf
*.sql     text eol=lf

*.png binary
*.so  binary
